# Google Gemini API key https://makersuite.google.com/ (free)
GOOGLE_API_KEY=AIzaSyAMhOOdquXEom9puvGFEMf5zEgfZtrfQuM
# Telegram bot token from BotFather (https://t.me/botfather)
BOT_TOKEN=6257702674:AAGjdj_HWk3686TlvpWa-phaCwj6J8q0z98
# Authorized Users: Comma seperated values of either Telegram username or user id. To restrict public access of the bot
AUTHORIZED_USERS=6977202910
